uknc/build/*

# vim session files
default.vim
default.vim.lock

# UKNCBTL saved states
*.uknc

# WinAPE breakpoints files
*.bpt

# CPC disk for test builds
RelCPC/disk1_1.dsk

Tools/SpriteEditor/AkuSprite.recent
